[submodule "donut"]
	path = External/donut
	url = https://github.com/sebastienberube-adsk/Donut.git
[submodule "NRD"]
	path = External/NRD
	url = https://github.com/sebastienberube-adsk/NRD.git
[submodule "DLSS"]
	path = External/DLSS
	url = https://github.com/NVIDIA/DLSS.git
[submodule "rtxdi-runtime"]
	path = Libraries/Rtxdi
	url = https://github.com/NVIDIA-RTX/RTXDI-Library.git
[submodule "thirdparty/cxxopts"]
	path = External/cxxopts
	url = https://github.com/jarro2783/cxxopts.git
[submodule "Assets/Media"]
	path = Assets/Media
	url = https://github.com/NVIDIA-RTX/RTXDI-Assets.git
